.btn-primary {
    background-color: $primary-color!important;
    border-color: $primary-color!important;
}
.btn-primary:hover {
    background-color: $primary-color!important;
    border-color: $primary-color!important;
    opacity: .8;
}

.text-style-1 {
    color: $primary-color!important
}

.primary-bg {
    background-color: $primary-color !important;    
}

.color-white {
    color: white;
}