.active {
     color: $secondary-color!important;
}


main {
    padding: 1em 0;
}

.our-work-responsive-carousel .img-container {
    padding: 2em;
}

footer  {
    a {
        color: #777;
    }
    
    a:hover {
        color: #bbb;
    }
}

.job-title {
    display: block;
    color: $primary-color;
    padding-bottom: 10px;
}

.img-border {
      margin: 16px;
      border: 10px solid white;
}

.img-shadow {
      box-shadow: 10px 10px 25px #aaa;
}